<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="~{fragments/menu :: menuFragment}"/>


<div class="container">
    <div class="row">

        <div class="col-md-2">
        </div>



        <div class="col-md-8">
            <div>
                <p>&nbsp;</p>
                <H5 align="center">About Contractor Application</H5>
                <p>&nbsp;</p>
                <p>This is demo application which is being developed for learning purpose. It is small web application
                    which will helps easily manage orders and contractors.
                Some features are not implemented yet, since the app is in early development phase but finally this app will have following functionality:</p>
                <ul>
                    <li>Adding, editing and deleting contractors and information about contractors including address,
                        total amount of orders, contractors rating etc.</li>
                    <li>adding, editing and deleting orders</li>
                    <li>Multi stages contractor selection process: selection card with recommended contractor will be
                        prepared by user and after manager approval order will be automatically added to the system
                     (this feature is not implemented yet)</li>
                    <li>Multi-currency support. Exchange rates downloaded from the NBP Web API (this feature is not implemented yet)</li>
                    <li>Generating pdf with orders (is to be fixed since UTF-8 is not supported</li>
                    <li>Statistics, charts and analysis of historical data (i.a. amount of orders for contractors in time, percentage of orders completed in time)</li>
                    <li>Searching engine (still not implemented).</li>
                    <li><b>Exception handling (is still not implemented in 100% - wrong data sent by form can cause illegal exception).</b></li>

                </ul>


                <ui>
                    <p><b class="text-info">Used technologies: </b>Java 11, Spring Boot, Maven, H2 database, Flyway, Hibernate, Thymeleaf, Keycloack, SpringSecurity, Lombok, JavaScript</p>
                    <i class="fab fa-github"></i>
                    <p><b class="text-info">Information about server:</b></p>
                    <ul>
                    <li><b>Server: </b> Rapspberry Pi 4 B</li>
                    <li><b>System: </b> Linux Raspbian 11.0.8 </li>
                    <li><b>Web App Container: </b> Apache Tomcat 8.5.38 (Debian)</li>
                    </ul>
                    <p><b class="text-info">Sources: </b><a href="https://github.com/lukaszse/contractors">github.com/lukaszse/contractors</a></p>
                </ui>

            </div>
        </div>


        <div class="col-md-2">
        </div>
    </div>
</div>








<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>