<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<H1 align="center">Add new order</H1>


<div align="center">
    <p>&nbsp;</p>
    <h3>
        <a id="orderListId">Back to order list</a>
    </h3>
    <p>&nbsp;</p>
    <form th:action="@{add_order}" th:object="${order}" method="post">
        <table>
            <tr><td>Contractor</td>
                <td>

                    <select th:field="*{contractorId}">
                        <option th:each="contractor : ${contractor_list}"
                                th:value="${contractor.id}"
                                th:text="${contractor.getName()}">Wireframe
                        </option>

                </td>
            <tr><td>Order Name:  </td> <td><input type="text" th:field="*{orderName}" /></td></tr>
            <tr><td>Order Description:  </td> <td><input type="text" size="100" th:field="*{orderDescription}" /></td></tr>
            <tr></tr>
            <tr><td></td><td><input type="submit" value="Submit" />           <input type="reset" value="Reset" /></td></tr>
        </table>
    </form>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>