<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="~{fragments/menu :: menuFragment}"/>

<div>


    <div class="container">
        <div class="row">

            <div class="col-md-2">
            </div>

              <div class="col-md-8">

                    <p>&nbsp;</p>
                    <H5  align="center">Add / Edit contractor</H5>
                    <p>&nbsp<br></p>

                    <form th:action="@{add_contractor}" th:object="${contractor}" method="post">


                        <div class="form-group row">
                            <label for="inputId" class="col-sm-2 col-form-label">Contractor id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" id="inputId" th:field="*{id}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" th:field="*{name}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPhone" th:field="*{phone}">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCity" th:field="*{city}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPost" class="col-sm-2 col-form-label">Post</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPost" th:field="*{post}">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="inputStreet" class="col-sm-2 col-form-label">Street</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputStreet" th:field="*{street}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputProperty" class="col-sm-2 col-form-label">Property</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputProperty" th:field="*{property}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputCountry" class="col-sm-2 col-form-label">Country</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCountry" th:field="*{country}">
                            </div>
                        </div>

                        <div align="center">
                            <input type="submit" class="btn btn-light" value="Submit">
                            <input type="reset" class="btn btn-light" value="Reset">
                        </div>

                    </form>


                </div>

            <div class="col-md-2">
            </div>

        </div>
    </div>



<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>