<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<H1 align="center">List of contractors</H1>


<div class="container-md" align="center">
    <p>&nbsp;</p>
    <h3><a id="addContractorId">Add New Contractor</a></h3>
    <table class="table table-striped table-dark" border="2" cellpadding="10">

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Contractor Name</th>
            <th scope="col">Phone number</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>

    <h1 th:each="contractor : ${contractor_list}">
        <tr>
            <td th:text="${contractor.id}"/>
            <td th:text="${contractor.name}" />
            <td th:text="${contractor.phone}"/>
            <td><a id="contractorId">View Details</a></td>
            <td><a id="editContractorId">Edit</a></td>
            <td><a id="deleteContractorId">Delete</a></td>
        </tr>
    </h1>
    </table>
</div>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>