<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<H1 align="center">Contractors App</H1>
<p>&nbsp;</p>
<div align="center">
    <h3>
    <a id="contractorListId">Contractors list</a>
    </h3>
    <h3>
        <a id="orderListId">Orders list</a>
    </h3>
</div>

<div align="center">
<footer id="footerId">this is a footer</footer>
</div>
</body>
</html>