<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractors Application</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<p align="center"><img th:src="@{/images/logo.png}" alt="LS logo"/></p>
<p>&nbsp;</p>

<H4 align="center">Contractors App</H4>
<p>&nbsp;</p>

<div align="center">
    <h1>
    <a id="homeId">Click to login</a>
    </h1>
</div>
<p><br><br><br></p>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h5 align="center">This is working version of application which is still under construction!</h5>
            <p><br></p>
            <ui>
                <p><b>Used technologies: </b>Java 15, Spring Boot, Maven, H2 database, Flyway, Hibernate, Thymeleaf, SpringSecurity, Lombok, JavaScript</p>
                <p><b>Description: </b>Web application for orders and contractor management (adding, deleting, editing orders and contractors, generating order in pdf)</p>
                <p><b>Sources: </b><a href="https://github.com/lukaszse/contractors">github.com/lukaszse/contractors</a></p>
                <i class="fab fa-github"></i>
            </ui>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>
<div align="center">
<footer id="footerId">this is a footer</footer>
</div>
</body>
</html>