<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">

<div th:replace="~{fragments/menu :: menuFragment}"/>

<div class="container-md" align="center">
    <p>&nbsp;</p>
    <h5>Order list:</h5>
    <p>&nbsp;</p>
    <table class="table table-striped table-dark" border="2" cellpadding="10">

        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Contractor Name</th>
            <th scope="col">Order Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    <h1 th:each="order : ${order_list_view}">
        <tr>
            <td th:text="${order.id}"/>
            <td th:text="${order.contractor.name}"/>
            <td th:text="${order.orderName}"/>
            <td align="center"><a id="viewOrder" class="btn btn-light btn-sm" role="button" aria-pressed="true">View Details</a></td>
            <td align="center"><a id="editOrder" class="btn btn-light btn-sm" role="button" aria-pressed="true">Edit</a></td>
            <td align="center"><a id="deleteOrder" class="btn btn-light btn-sm" role="button" aria-pressed="true">Delete</a></td>
        </tr>
    </h1>
    </table>

    <a id="addNewOrder" class="btn btn-light" role="button" aria-pressed="true">Add Order</a>
</div>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>