<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Contractor</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">

<div th:replace="~{fragments/menu :: menuFragment}"/>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form th:action="@{password_change}" th:object="${password_dto}" method="post">
            <hr style="border-top: 1px dashed white;"><br>
            <div th:if="${#fields.hasErrors('all')}">
                <div align="center" class="alert alert-danger" role="alert">
                    <h5>Error. Wrong data format:</h5>
                    <i th:errors="*{all}">Incorrect data</i>
                </div>
                <p>&nbsp;</p>
            </div>

            <div class="form-group row">
                <label for="inputOldPass" class="col-sm-3 col-form-label">Old password</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputOldPass" th:field="*{oldPassword}"
                           th:errorclass="'form-control is-invalid'">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputNewPass" class="col-sm-3 col-form-label">New password</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputNewPass" th:field="*{newPassword}"
                           th:errorclass="'form-control is-invalid'">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputNewPassConfirm" class="col-sm-3 col-form-label">New password (confirm)</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputNewPassConfirm" th:field="*{newPasswordConfirm}"
                           th:errorclass="'form-control is-invalid'">
                </div>
            </div>
            <div align="center">
                <hr style="border-top: 1px dashed white;">
                <input type="submit" class="btn btn-light" value="Submit">
                <input type="reset" class="btn btn-light" value="Reset">
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>
</body>
</html>