<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title> == Contractors ==</title>
    <script type="text/javascript" th:src="@{/js/lib/jspdf.min.inc.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jspdf.plugin.autotable.js}"></script>
    <script type="text/javascript">
        function genPDF() {
            var doc = new jsPDF();
            var principal = document.querySelector('#principal');
            var contractor = document.querySelector('#contractor');
            doc.fromHTML(principal, 15,15)
            doc.fromHTML(contractor, 110,70)
            doc.autoTable({
                startY: 130,
                html: '#table' })
            doc.save('Test.pdf');
        }
    </script>

</head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="~{fragments/menu :: menuFragment}"/>

<div class="container-md" align="center">
    <p>&nbsp;</p>
    <H5>View Order</H5>
    <p>&nbsp;</p>
    <div id="principal" align="left">
        <p>Principal:</p>
        <h3 th:utext="${T(org.lukaszse.contractorsapp.util.CompanyData).COMPANY_NAME}">FIRMA PRZYKLADOWA S.A.</h3>
        <p th:utext="${T(org.lukaszse.contractorsapp.util.CompanyData).COMPANY_STREET}
                +' '+${T(org.lukaszse.contractorsapp.util.CompanyData).COMPANY_PROPERTY_NO}
                +'<br \>'+${T(org.lukaszse.contractorsapp.util.CompanyData).COMPANY_POST}
                +' '+${T(org.lukaszse.contractorsapp.util.CompanyData).COMPANY_CITY}
                +'<br \>'+${T(org.lukaszse.contractorsapp.util.CompanyData).COMPANY_COUNTRY}">ulica<br \>Miasto<br \>Kraj</p>

        <h4 th:text="'Order no: '+${order.id}">Order number</h4>
    </div>

    <div id="contractor" align="center">
        <p>Contractor:</p>
        <h3 th:text="${order.contractor.name}">Contractor Name</h3>

        <p th:utext="${order.contractor.name}+' '+${order.contractor.property}
                +'<br \>'+${order.contractor.post}+' '+${order.contractor.city}
                +'<br \>'+${order.contractor.country}">ulica<br \>Miasto<br \>Kraj</p>
    </div>


    <table id="table" class="table table-striped table-dark" border="2" cellpadding="10">
            <tr>
                <th>Order Name</th>
                <th>Contractor Description</th>
            </tr>
        <h1>
            <tr>
                <td th:text="${order.orderName}" />
                <td th:text="${order.orderDescription}"/>
            </tr>
        </h1>
    </table>

    <p><a id="editOrderId">Edit</a> |
        <a id="deleteOrderId">Delete</a> |
        <a href="javascript:genPDF()">Downoad PDF</a></p>

</div>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>