<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title> == Contractors ==</title>

    <script type="text/javascript" th:src="@{/js/lib/jspdf.min.inc.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jspdf.plugin.autotable.js}"></script>
    <script type="text/javascript">
        function genPDF() {
            var doc = new jsPDF();
            doc.autoTable({ html: '#table' })
            doc.save('Test.pdf');
        }
    </script>

</head>
<body class="p-3 mb-2 bg-dark text-white">
<div th:replace="~{fragments/menu :: menuFragment}"/>
<p>&nbsp;</p>

<div id="order" class="container-md" align="center">

    <h5>Details about contractor:</h5>
    <p><br></p>
    <table id="table" class="table table-striped table-dark" border="2" cellpadding="10">
            <tr>
                <th>Id</th>
                <th>Contractor Name</th>
                <th>Phone number</th>
                <th>Adress</th>
            </tr>
            <tr>
                <td th:text="${contractor.id}" />
                <td th:text="${contractor.name}" />
                <td th:text="${contractor.phone}"/>
                <td>
                        <p th:text="${contractor.street}+' '+${contractor.property}"/>
                        <p th:text="${contractor.post}+' '+${contractor.city}"/>
                        <p th:text="${contractor.country}"/>
                </td>
            </tr>
    </table>
    <a id="editContractorId" class="btn btn-light btn-sm" role="button" aria-pressed="true">Edit</a>
    <a id="deleteContractorId" class="btn btn-light btn-sm" role="button" aria-pressed="true">Delete</a>
    <a href="javascript:genPDF()" class="btn btn-light btn-sm" role="button" aria-pressed="true">Generate PDF</a>
</div>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>