<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title> == Contractors ==</title>
    <script type="text/javascript" th:src="@{/js/lib/jspdf.min.inc.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jspdf.plugin.autotable.js}"></script>
    <script type="text/javascript">
        function genPDF() {
            var doc = new jsPDF();
            var order = document.querySelector('#order');
            doc.fromHTML(order, 15,15)
            doc.autoTable({
                startY: 100,
                html: '#table' })
            doc.save('Test.pdf');
        }
    </script>

</head>
<body class="p-3 mb-2 bg-dark text-white">
<H1 align="center">Details about order</H1>
<p>&nbsp;</p>

<div class="container-md" align="center">
    <h3>
        <a id="orderListId">Back to order list</a>
    </h3>
    <div id="order" align="left">
        <p>Zleceniodawca:</p>
        <h3 th:text="${T(org.lukaszse.util.CompanyData).COMPANY_NAME}">FIRMA PRZYKLADOWA S.A.</h3>
        <p>ul. Kolorowa 25
            <br />43-723 Miasto
            <br />Kraj
        </p>
        <h4 th:text="'Zlecenie nr: '+${order.id}"></h4>
    </div>

    <table id="table" class="table table-striped table-dark" border="2" cellpadding="10">
            <tr>
                <th>Order Id</th>
                <th>Contractor Id</th>
                <th>Order Name</th>
            </tr>

        <h1>
            <tr>
                <td th:text="${order.id}" />
                <td th:text="${contractor.name}" />
                <td th:text="${order.name}"/>
            </tr>
        </h1>
    </table>

    <p><a id="editOrderId">Edit</a> |
        <a id="deleteOrderId">Delete</a> |
        <a href="javascript:genPDF()">Downoad PDF</a></p>

</div>

<div align="center">
    <footer id="footerId">this is a footer</footer>
</div>

</body>

</html>